[report]
# Exclude scripts in main
exclude_lines =
    if __name__ == '__main__':

[run]
# We want to generate coverage only for the eminus folder
include = eminus/*
# Do not test the extras in the CI
omit = eminus/extras/*
