# Byte-compiled files
__pycache__/
*.pyc

# Packaging files
build/
dist/
*.egg-info/

# Unit test
.pytest_cache/

# Sphinx documentation
docs/_autosummary/
public/

# Jupyter Notebook
.ipynb_checkpoints

# Nix
flake.lock
