# SPDX-FileCopyrightText: 2021 Wanja Timm Schulze <wangenau@protonmail.com>
# SPDX-License-Identifier: Apache-2.0
# Byte-compiled files
__pycache__/
*.pyc

# Packaging files
build/
dist/
*.egg-info/

# Unit test / Coverage reports
.cache/
.coverage
.coverage.*
coverage.xml
htmlcov/
.pytest_cache/

# Sphinx documentation
docs/_autosummary/
public/
bibtex.json
*.bib.sav

# Jupyter Notebook
.ipynb_checkpoints
